* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

form > input {
    margin: 0.5em;
}

.btn-primary {
    width: 100%;
}